.sidebar {
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    background-color: rgb(235, 235, 235);
    width: 75px;
}

.sidebar-link {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    
}

.sidebar-link:hover {
    background-color: rgb(196, 192, 192);
}

.sidebar-link image {
    height: 24px;
}

.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
}