
  .photo {
    width: 300px;
  }

  .video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
  }

  .channel-photo {
    display: inline-block;

  }

  .video-info {
    display: inline-block;
    width: 245px;

  }
  .profile-photo {
    width: 50px;
    border-radius: 25px;
  }

  .photo-hp {
    margin-bottom: 10px;
    position: relative;
  }
  .video-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 8px;
  }

  .video-author {
    display: inline-block;
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 8px;

  }

  .video-description {
    display: inline-block;
    font-size: 14px;
    color: rgb(96, 96, 96);
  }

  .video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2px;
    row-gap: 20px;
  }

  .video-time {
    font-family: Roboto ,Arial;
    font-size: 12px;
    font-weight: 500px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    background-color: black;
    color: white;
    position: absolute;
    top: 8px;
    left: 5px;
  }
